@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2'),
        url('../fonts/source-sans-pro-v21-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/source-code-pro-v21-latin-regular.woff2') format('woff2'),
        url('../fonts/source-code-pro-v21-latin-regular.woff') format('woff');
}

body {
    padding: 0;
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.run-btn {
    /* background-color: #FFE0ED; */
    height: 20px;
    width: 55px;
    color: black;
    font-weight: 600;
    background: url('../img/run button.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.open-btn {
    height: 20px;
    width: 20px;
    background: url('../img/folder icon.png');
    background-repeat: no-repeat;
    background-position: 6px 5px;
    background-size: 69%;
}

.console-btn {
    height: 20px;
    width: 20px;
    background: url('../img/console icon.png');
    background-repeat: no-repeat;
    background-position: 5px 3px;
    background-size: 76%;
}

.download-btn {
    height: 20px;
    width: 20px;
    background: url('../img/download icon.png');
    background-repeat: no-repeat;
    background-position: 5px 6px;
    background-size: 60%;
}

#editor,
#output {
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
}

#editor {
    flex: 1;
}

.output-head {
    width: 99%;
    color: #fff8fb;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    align-items: center;
    display: flex;
    font-size: 14px;
    padding-left: 5px;
    height: 25px;
    background-color: #4B1635;
    /* resize:vertical; */
    cursor: ns-resize;
    user-select: none;
}


#output {
    /* background-color: #1C1C1C; */
    background-color: #FFEFF6;
    color: black;
    /* border: 1px solid black; */
    /* outline: 1px solid black; */
    resize: vertical;
    height: 35%;
    /* border-top: 5px solid black; */
}



.topnav {
    overflow: hidden;
    background-color: #4B1635;
    justify-content: space-between;
}

.ri-folder-open-fill, .ri-terminal-box-fill, .ri-download-fill, .ri-play-large-fill{
    display: none;
}

.topnav a {
    float: left;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin: 0px 5px;
}


.topnav .icon {
    display: none;
}



#github {
    font-size: 15px;
    color: white;
    float: right;
}

#github:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 600px) {

    #wrapper {
    height: 100vh;
    }

    #output {
    padding-left: 10px;
    }

    .open-btn, .console-btn, .download-btn {
    background-image: none;
    width: 100%;
    }
    .run-btn i{
        display: none;
    }

    .topnav.responsive .run-btn {
       display: none;
    }

    .open-btn:after {
        content: " Open";
    }
    .console-btn::after {
        content: " Console";
    }
    .download-btn::after {
        content: " Download";
    }
    .download-btn {
        height: 30px;
    }

    .ri-folder-open-fill, .ri-terminal-box-fill, .ri-download-fill, .ri-play-large-fill{
        display: unset;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-top: 12px;
    }

    #github {
        float: left;
    }
}

input[type="file"] {
    display: none;
}